@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Identity
@attribute [IgnoreAntiforgeryToken]
@inject SignInManager<IdentityUser> SignInManager
@functions {
public async Task<IActionResult> OnPost()
{
    if (SignInManager.IsSignedIn(User))
    {
        await SignInManager.SignOutAsync();
    }

    return Redirect("~/");
}
}
<div id="logreg-forms">
    <form class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Connexion</h1>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        <br />
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <br />
        <br />
        <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Se connecter</button>
        @*<a href="#" id="forgot_pswd">Forgot password?</a>*@

        <hr>
        <!-- <p>Don't have an account!</p>  -->
        <button class="btn btn-primary btn-block" type="button" id="btn-signup"><i class="fas fa-user-plus"></i> Créer un compte</button>
    </form>


    <br>

</div>
